body {
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    background-color: burlywood;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
}

.popup {
    background-color: #fafafa;
    width: 366px;
    height: 222px;
    border-radius: 26px;
    text-align: center;
    display: none;
    transition: all 1s ease-in;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: none;
    z-index: 11;
}

.overlay.active {
    display: block;
}

.popup.active {
    display: block;
    background-color: rgb(216, 187, 148);
    text-align: center; 
    justify-content: center;
}

body.dim .content {
    filter: blur(2px);
}


button{
    border: 0.5em solid transparent;
    border-radius: 1em;
    background-color: rgb(255, 148, 71);
}