body {
  margin : 0;
  background-color : #63C7B2;
  /* min-height : 100vh; */
  text-align : center;
  padding : 1rem;
  display: grid;
  place-items : center;
  gap : 3rem;
  font-family : 'Pixelify Sans'
}

h1{
  font-size : 3rem;
}

.container {
  display : grid;
  background-color : #80CED7;
  border : 0.1rem solid #263D42;
  border-radius : 1rem;
  padding : 1rem;
  gap : 1rem;
  max-width : 480px;
  width : 100%;
  color : # 8E6C88;
  font-weight : 700;
}

.calculate, .date {
  font-weight : 700;
  color : black;
  border-radius : 1rem;
  height: 2rem;
  font-family : 'Pixelify Sans'
}

