#modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgba(26, 5, 21, 0.5);
}

.modal_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto;
  width: 80%;
  max-width: 300px;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 20px;
  animation-name: modalopen;
  animation-duration: 1s; 
  align-self: center; 
}

.wrapper.active {
  filter : blur(2px);
  /* display : none; */
}
