* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2em;
    text-align: center;
    background-color : white;
}

.wrapper{
    background-color:aquamarine;
    position : relative;

}

.score-board {
    display: flex;
    text-align: center;
    justify-content: center;
    gap : 1em;
}

button {
 border : 0.5em solid transparent;
 border-radius : 1em;
 background-color : yellow; 
}
