* {
    box-sizing: border-box;
}


body {
    background-color : rgb(235,226,216);
    display : flex;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2em;
    text-align: center;
    justify-content : center;
    align-items : center;
    min-height : 100vh;
}

.wrapper{
    background-color:aquamarine;
    border : 0.5em solid grey;
    max-width : 320px; 
    width : 100%;
    z-index : 10;
    border-radius : 1em;
}

.score-board {
    display: flex;
    text-align: center;
    justify-content: center;
    gap : 1em;
}

button {
 border : 0.5em solid transparent;
 border-radius : 1em;
 background-color : yellow; 
}

