* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin : 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content{
    background-color: beige;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    width: 90%;
    max-width: 250px;
    padding: 1em;
}


#display{
    background-color : blanchedalmond;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 0.5em;
    width : 90%;
}

.button-calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 0.5em;
    width: 100%;
    padding : 1em;
}

.first-row {
    background-color: red;

    
}

.second-row{
    background-color: blue;
    ;
}