* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin : 0;
    font-family: system-ui, sans-serif;
    line-height: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content{
    background-color: beige;
    border-radius: 0.7em;
    border: 3px solid grey;
    width: 90%;
    max-width: 320px;
    padding: 0.7em;
    margin : 20px;
}


#display{
    background-color : blanchedalmond;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 0.5em;
    width : 100%;
    height: 2.5em;
    font-size: 1.5em;
    border-color: orange;
}

.button-calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 0.3em;
    width: 100%;
    padding-top: 1.5em; 
    grid-auto-rows: 1fr;
    justify-items: center;
}

button {
    border: none;
    border-radius : 50%;
    aspect-ratio: 1/1; 
    font-size : 1rem;
    width: 100%;
    max-width: 50px;
    background-color: cadetblue;
}
