body {
  margin : 0;
  background-color: #15173D;
  text-align: center;
  display : grid;
  place-items : center;
  gap: 3rem;
}

.container {
  background-color : #982598;
  max-width: 480px;
  width: 100%;
  height: 10rem;
  text-align : center;
  border-radius : 1rem;
  gap : 1rem;
  display : grid;
  padding: 1rem;
  border : 0.1rem solid #E491C9;
  color : #E491C9;
  font-weight : 700;
}

h1{
  color : #E491C9;
}
