*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9f6d0;
  font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  line-height: 1.6;
  text-align: center;
}

.navbar {
  width: 100%;
  padding: 0.2rem 0;
  border-radius : 0.5rem;
  background-color : #009053;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  padding : 0.5rem;
  text-align : center;
}

a{
  color : white;
  font-weight : bold;
  text-decoration : none;
}
