* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #007f63;
  font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  line-height: 1.6;
  text-align: center;
}

/*Navbar*/
.navbar {
  width: 100%;
  padding: 1rem 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}

/*Kontener */
.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

/* Card Board*/
.cart-board {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  border: 2px solid grey;
  padding: 2rem;
  margin-top: 2rem;
}

/* Items Card*/
.item {
  border: 2px solid grey;
  background-color: #999;
  padding: 2rem;
  width: 180px;
}

/* Button */
button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

