*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9f6d0;
  font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
  line-height: 1.6;
  text-align: center;
}

/*Navbar*/
.navbar {
  width: 100%;
  padding: 0.2rem 0;
  border-radius : 0.5rem;
  background-color : #009053;
}

img {
  width : 150px;
}

a{
  color : white;
  font-weight : bold;
  text-decoration : none;
}

h1{
  color : #1fad72;
  font-weight : bold;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  padding : 0.5rem;
  text-align : center;
}

/*Kontener */
.container {
  /* max-width: 900px; */
  margin: auto;
  padding: 2rem;
}

/* Card Board*/
.cart-board {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width : 100%;
  margin-top: 2rem;
}

/* Items Card*/
.item {
  /* border: transparent; */
  background-color: #009053;
  padding: 2rem 5rem;
  border-radius : 1rem;
}

/* Button */
button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color : #a8f0d2;
  text-decoration : none;
  border : none;
  border-radius : 0.5rem;
}

#desc {
  color : white;
  font-weight : bold; 
}

